* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid green;
}

:root {
  //Primary color

  --blue: hsl(223, 87%, 63%);

  //Secondary color

  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);

  //Neutral color

  --gray: hsl(0, 0%, 59%);
  --very-dark-blue: hsl(209, 33%, 12%);
}

body {
  font-family: "Libre Franklin", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.fa-brands {
  color: var(--blue);
}

.site-logo-container {
  text-align: center;
}

.site-logo {
  vertical-align: middle;
}

.site-preview {
  &__title {
  }

  &__sub-text {
  }

  &__image {
    width: 100%;
    height: auto;
  }
}
