* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // border: 1px solid green;
}

:root {
  //Primary color

  --blue: hsl(223, 87%, 63%);

  //Secondary color

  --pale-blue: hsl(223, 100%, 88%);
  --blue-hover: hsl(224, 87%, 70%);
  --light-red: hsl(354, 100%, 66%);

  //Neutral color

  --gray: hsl(0, 0%, 59%);
  --very-dark-blue: hsl(209, 33%, 12%);
}

body {
  min-height: 100vh;
  font-family: "Libre Franklin", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: calc(100vh - 100px);
  padding-top: 75px;
  // padding-bottom: 40px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.site-logo-container {
  text-align: center;
  margin-bottom: 35px;
}

.site-logo {
  vertical-align: middle;
  max-width: 52px;
  height: auto;
}

.site-preview {
  &__title {
    font-size: 19px;
    text-align: center;
    margin-bottom: 16px;
    font-weight: 400;
    color: var(--gray);
  }

  &__title-soon {
    font-weight: 700;
    color: var(--very-dark-blue);
  }

  &__sub-text {
    font-size: 11px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 145px;
    gap: 10px;
  }

  &__input-container {
    width: 70%;
    max-width: 262px;
    min-height: 38px;
  }

  &__input-message {
    margin-top: 4px;
    font-size: 11px;
    color: var(--light-red);
    font-style: italic;
    font-weight: 600;
    text-align: center;
  }

  &__form-input {
    font-size: 12px;
    border: 1px solid var(--pale-blue);
    width: 100%;
    min-height: 38px;
    border-radius: 25px;
    padding: 0 25px;
    color: var(--very-dark-blue);

    &--invalid {
      border-color: var(--light-red);
    }

    &::placeholder {
      color: var(--pale-blue);
    }

    &:focus-visible {
      outline: solid var(--pale-blue);
    }
  }

  &__form-button {
    font-size: 12px;
    font-weight: 600;
    color: white;
    background-color: var(--blue);
    border: 1px solid var(--blue);
    width: 70%;
    max-width: 262px;
    min-height: 38px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 3px var(--pale-blue);
    cursor: pointer;

    &:hover {
      background-color: var(--blue-hover);
      border-color: var(--blue-hover);
    }

    &:active {
      transform: scale(0.95);
    }
  }

  &__image {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    height: auto;
    margin-bottom: 24px;
  }
}

.site-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100px;
  gap: 25px;

  &__social-media-list {
    display: flex;
    gap: 11px;
  }

  &__social_media-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    border: 1px solid var(--pale-blue);
    height: 31px;
    width: 31px;
    border-radius: 50%;
    transition: border-color 0.1s ease;
  }

  &__social-media-link {
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.1s ease,
      background-color 0.3s ease;
    border-radius: 50%;

    &:hover {
      transform: scale(1.2);
      box-shadow: 0 2px 6px 2px var(--pale-blue);
      background-color: var(--blue);
    }

    &:hover > .site-footer__social_media-list-item {
      border-color: var(--blue);
    }

    &:hover > .site-footer__social_media-list-item > .fa-brands {
      color: white;
    }
  }

  &__copyright {
    font-size: 10px;
    color: var(--gray);
    text-align: center;
    margin-bottom: 8px;
  }
}

.fa-brands {
  color: var(--blue);
}

@media screen and (min-width: 800px) {
  .site-logo {
    max-width: 87px;
  }

  .site-preview {
    &__title {
      font-size: 45px;
    }

    &__sub-text {
      font-size: 19px;
    }

    &__form {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      min-height: 100px;
    }

    &__form-button {
      max-width: 200px;
      min-height: 56px;
      border-radius: 50px;
      font-size: 16px;
    }

    &__input-message {
      text-align: left;
      padding-left: 25px;
    }

    &__input-container {
      width: 100%;
      max-width: 420px;
    }

    &__form-input {
      max-width: 420px;
      min-height: 56px;
      font-size: 15px;
    }

    &__inform {
      height: calc(100vh - 415px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 510px;
      max-height: 600px;
      gap: 16px;
    }

    &__image {
      max-width: 640px;
    }
  }
}

@media screen and (max-height: 600px) {
  .wrapper {
    padding-top: 10px;
  }
  .site-preview {
    &__image {
      width: 40%;
      min-width: 220px;
      max-width: 400px;
    }

    &__inform {
      min-height: 350px;
      // max-height: 400px;
    }
  }
}
